@using Microsoft.AspNetCore.Components.Routing
@using PatteDoie.Views.Shared

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="PatteDoie.styles.css" asp-append-version="true" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Navbar></Navbar>
    <div class="container">
        <main role="main" class="pb-3">
            <Router AppAssembly="typeof(Program).Assembly">
                <Found Context="routeData">
                    <RouteView RouteData="routeData" />
                </Found>
                <NotFound>
                    <PageTitle>Not found</PageTitle>
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </NotFound>
            </Router>
        </main>
    </div>
    <Footer></Footer>
    <script src="_framework/blazor.server.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/site.js" asp-append-version="true"></script>
</body>
</html>



