@page "/Scattegories"

<PageTitle>Scattegories</PageTitle>

<div>
    <h3>CreateGame</h3
    <button type="button" @onclick="()=> NewGame()">créer partie</button>
    <div>
        <p>Catégories</p>
        @foreach (var cat in Row?.Categories ?? [])
        {
            <p>@cat.Name</p><br />
        }
        <p>Lettre</p>
        <p>@Row?.CurrentLetter</p>
    </div>
</div>
