@page "/scattergories/{Id}"


<h1>GetGame</h1>

<div>
    <h4>Scattergories</h4>
    <hr/>

    <div>
        <div>
            <h1>Current Letter</h1>
            <h2>@Row.CurrentLetter</h2>
        </div>
        <div>
            <ul>
                @foreach (var cattegories in @Row.Categories) {
                    <li>@cattegories.Name</li>
                }
            </ul>
        </div>
    </div>

</div>
