@inherits AuthenticatedPage
@using PatteDoie.Enums;
@using PatteDoie.Extensions;

@page "/lobby/create"

<PageTitle>Create a lobby</PageTitle>

<div id="lobbyHeader">
    <div id="command">
        <a asp-action="Index" href="/">
            <img src="back-arrow.svg" />
        </a>
    </div>
    <h1>Create a lobby for the game @GameName</h1>
</div>

<div id="form">
    <div id="radio">
        <InputRadioGroup @bind-Value="IsLobbyPublic">
            <span class="radio-button"><InputRadio Value="true" />Public lobby</span>
            <span class="radio-button"><InputRadio Value="false" />Private lobby</span>
        </InputRadioGroup>
    </div>
    <div id="creation">
        <form @onsubmit="Submit">
            <AntiforgeryToken/>
            @if (!IsLobbyPublic)
            {
                <div class="form-group">
                    <label class="label">Password: &nbsp; </label>
                    <InputText @bind-Value="Password" class="form-control" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>


