@page "/lobby/join/{Id}"

<h3>LobbyJoin</h3>

<PageTitle>Join a lobby</PageTitle>

<h1>Create</h1>

<h4>PlatformLobby</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form @onsubmit="Submit">
            <AntiforgeryToken />
            <div class="form-group">
                <label class="control-label">Password</label>
                <InputText @bind-value="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Join" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>