@page "/"
@using PatteDoie.Views.Shared
@inherits BasePage

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome On PatteDoie</h1>
    @if (!Authenticated)
    {
        <p class="welcome-text">You need to set an username to play games</p>
        <Authenticator />
    } else
    {
        <a class="welcome-text" href="/lobby">Go to lobbies list</a>
    }
</div>