@page "/"
@using PatteDoie.Views.Shared

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome On PatteDoie</h1>
    <p class="display-4">You need to set an username to play games</p>
    <Authenticator/>
</div>