@model PatteDoie.Rows.SpeedTypingGame.SpeedTypingGameRow   

@{
    ViewData["Title"] = "GetGame";
}

<h1>GetGame</h1>

<div>
    <h4>Speed Typing</h4>
    <hr />

    <div>
        
        @foreach (string Word in Model.Words)
        {
            <span>@Word </span>
        }
     </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
