@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@page "/speedtyping/{Id}"


<PageTitle>SpeedTyping</PageTitle>

<h1>GetGame</h1>

<div>
    <h4>Speed Typing</h4>
    <hr />
    

    <div>
        <div class="clock">
            <h1>@_secondsToRun</h1>
        </div>
        <input type="text" id="inputText" name="inputText" @ref="InputTextRef"
            @oninput='(e) => CheckTextSpace(e.Value?.ToString() ?? "")'/>
        <script>
            function hasSpace() {
                var text = document.getElementById("inputText")
                if (text.hasSpace) {
                    console.log(text.trim())
                }
            }
        </script>
        <hr />
        @foreach (string Word in Row?.Words ?? [])
        {
            @if (Array.IndexOf(Row.Words, Word) == WordIndexToDisplay) {
                <span id="wordToDisplay"> @Word &nbsp;</span>
            } else {
                <span> @Word &nbsp;</span>
            }
        }
     </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>