@model PatteDoie.Rows.SpeedTypingGame.SpeedTypingGameRow   

@{
    ViewData["Title"] = "GetGame";
    var launchTime = Model.LaunchTime;
    var launchTimeUtc = launchTime.ToString("yyyy-MM-ddTHH:mm:ss");
}

<h1>GetGame</h1>

<div>
    <h4>Speed Typing</h4>
    <hr />
    <div id="timer"></div>
    <div>
        
        @foreach (string Word in Model.Words)
        {
            <span>@Word </span>
        }
     </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<script>
    var launchTime = new Date("@launchTimeUtc");
    function updateTimer() {
        var now = new Date();
        var utcDate = new Date(now.getTime() + now.getTimezoneOffset() * 60000);
        var timeInSeconds = Math.floor((utcDate - launchTime) / 1000);
        document.getElementById('timer').textContent = 'Timer: ' + timeInSeconds;
    }

    setInterval(updateTimer, 1000);
</script>